<header class="navigation">
  <div class="menu-wrapper">
    <a href="javascript:void(0)" class="logo">
    <%= image_tag("/assets/logos/polity_logo_bg.png") %>
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="javascript:void(0)">Products</a></li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Submenu Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="navigation-tools">
      <%= link_to "Register", new_user_registration_path, class: "sign-up" %>
    </div>
  </div>
</header>
