<section>
    <h2>Polity</h2>
    <p data-role="description">This is the homepage</p>

    <div id="background">
    	<%= image_tag "chicago_skyline.jpg", :style => "width: 100%" %>
    </div>


    <div id="content">

        <div class="triplet" id="educate">
            <strong>Educate</strong>
            <div>
                You have the right to access to the information you need about your Local Politician <br>
                Polity makes it easy to learn about your representative and their voting decisions.
            </div>
        </div>

        <div class="triplet" id="feedback">
            <strong>Feedback</strong>
            <div>
                You have the right to demonstrate your feelings for Local Politician's voting decisions <br>
                Polity has an simple feedback toolset, encouraging you to speak with your Local Politician.
            </div>
        </div>

        <div class="triplet" id="community">
            <strong>Community</strong>
            <div>
                You have the right to access to the information you need about your Local Politician <br>
                Polity makes it easy to learn about your representative and their voting decisions.
            </div>
        </div>
    </div>
</section>