
<div class="hero">
    <div class="hero-inner">
    <a href="" class="hero-logo">
    <%= image_tag("/assets/logos/polity_logo_bg.png") %>
        <div class="hero-copy">
            <h1>Polity Chicago</h1>
            <p>DragonHawks FOR LIFE.</p>
        </div>
    <button class="btn btn-red btn-large">Learn More</button>
    </div>
</div>




<section>
    <div id="user">
        <%= link_to "Sign In", new_user_session_path %>
        Not a already a community member? <%= link_to "Register", new_user_registration_path %> now!
    </div>
<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Educate</h2>
      <p>You have the right to access to the information you need about your Local Politician Polity makes it easy to learn about your representative and their voting decisions.</p>
      </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Feedback</h2>
      <p>You have the right to demonstrate your feelings for Local Politician's voting decisions Polity has an simple feedback toolset, encouraging you to speak with your Local Politician.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Community</h2>
      <p> You have the right to access to the information you need about your Local Politician Polity makes it easy to learn about your representative and their voting decisions.</p>
    </div>
  </div>
</div>







</section>
