
<div class="hero">
    <div class="hero-inner">
    <a href="" class="hero-logo">
    <%= image_tag("/assets/logos/polity_logo_bg.png") %>
        <div class="hero-copy">
            <h1>Polity Chicago</h1>
            <p>DragonHawks FOR LIFE.</p>
        </div>
          <button class="btn btn-red btn-large">
            <a href="#learn_more">Learn More</a>
          </button>
    </div>
</div>




<section>
<div class="bullets">
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Educate</h2>
      <p>You have the right to access info about your Local Politician.<hr /> Polity makes it easy to learn about your representative and their voting decisions.</p>
      </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Voice Opinions</h2>
      <p>You have the right to give communicate with your Local Politicians.<hr /> Polity encourages giving feedback to your representative, through our simple toolset.</p>
    </div>
  </div>
  <div class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Community</h2>
      <p> You have the right to organise with your fellow community members.<hr /> Polity helps you connect with your neighbors, encouraging positive community contributions.</p>
    </div>
  </div>
<a name="learn_more"></a>
</section>
