<section>
<h1>Give Feedback on Chicago Legislation</h1>

<h2>Upcoming Legislation</h2>
  <%= render partial: 'table', locals: {legislations: @fresh_legislations} %>

<br>
<hr>
<br>

<h2>Past Legislation</h2>
  <%= render partial: 'table', locals: {legislations: @voted_legislations} %>
</section>
