// Place all the styles related to the Api controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body{
	height: 100%;
	width: 100%;
}

.meeting-details{
	display: inline-block;
}
#map-canvas{
	display: inline-block;
}