// Base Font
$base-font-family: 'gandhi_serifregular', 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-line-height: 1.4;

$header-fontface-thin: 'benchnineregular', 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
$header-fontface-thick: 'benchninebold', 'Helvetica Neue', Arial, sans-serif;


$block-title: saturate(darken($base-accent-color, 30), 30);

//Font weights
$light: 300;
$regular: 400;
$bold: 500;

//Chicago Colors
$dark-grey: #2a3145;
$chicago-red: #f03b3c;
$chicago-blue: #69b1d6;

//accents
$body-grey: #798291;
$electric-blue: #4a93f3;
$orange: #f3a828;
$green: #4dc049;
$purple: #ac61d0;
$medium-blue: #2c5999;

$base-border-radius: em(.5);

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $header-fontface-thick
}

header.navigation .navigation-menu-button.nav-menu {
  color: #e06063;
}

.block-title {
  text-align: left;
  margin: .5em 0 .5em;
  color: $block-title;
  font-weight: $bold;
  font-size: 370%;
  margin-left: .5em;
}

body {
  margin: 0;
}


th {
  font-family: benchninebold;
  font-size: 160%;
  text-transform: uppercase;
}

.first {
  padding-top: 60px;
}


@media screen and (min-width: 53.75em) {
header.navigation a.navigation-menu-button {
  display: block !important;

  }
}






