// Base Font
$base-font-family: 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size: 15px;
$base-line-height: 1.4;

$header-fontface-thin: 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
$header-fontface-thick: 'Fjalla One', 'Helvetica Neue', Arial, sans-serif;

//Font weights
$light: 300;
$regular: 400;
$bold: 600;

//Chicago Colors
$dark-grey: #2a3145;
$chicago-red: #f03b3c;
$chicago-blue: #69b1d6;

