// Base Font
$base-font-family: 'BenchNine', 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size: 18px;
$base-line-height: 1.4;

$header-fontface-thin: 'BenchNine', 'Helvetica Neue', 'Open Sans', Helvetica, Arial, sans-serif;
$header-fontface-thick: 'BenchNine', 'Helvetica Neue', Arial, sans-serif;


$block-title: saturate(darken($base-accent-color, 30), 30);

//Font weights
$light: 300;
$regular: 400;
$bold: 600;

//Chicago Colors
$dark-grey: #2a3145;
$chicago-red: #f03b3c;
$chicago-blue: #69b1d6;


$base-border-radius: em(.5);

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-transform: uppercase;
  font-family: $header-fontface-thick
}

header.navigation .navigation-menu-button.nav-menu {
  color: #e06063;
}

.block-title {
  text-align: left;
  margin: .5em 0 .5em;
  color: $block-title;
  font-weight: 600;
  font-size: 370%;
  margin-left: .5em;
}