@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  // $grid-items-background: $base-body-color;
  $grid-items-background: white;
  // border: 1px solid #ededed;
  $grid-item-background: white;
  $grid-item-background: desaturate(white, 95);
  $grid-item-colors:
    desaturate(#979EA0, 10),
    white,
    white,
    white,
    white,
    white,
    white;

  $grid-item-border-size: 9px;
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: darkgray ;
  $grid-item-height: 14em;

  @include clearfix;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    height: $grid-item-height;
    background: transparent;
    width: 100%;
    overflow: hidden;
    float: left;
    padding: .5em;
    border-top: 0;
    border-bottom: $grid-item-border-size solid $grid-items-background;
    border-left: $grid-item-border-size /2 solid $grid-items-background;
    border-right: $grid-item-border-size /2 solid $grid-items-background;
    text-align: center;
    cursor: default;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-color: white;


      @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
      }


    }


  //   @for $i from 1 to 8 { // assign colors from $grid-item-colors list
  //     &:nth-child(#{$i}) {
  //       $background-from-list: nth($grid-item-colors, $i);
  //       background-color: white;
  //       box-shadow: inset 0px 0px 1px 2px darken(#efefef, 10);
  //       &:hover {
  //         background-color: darken($background-from-list, 10);
  //         background-repeat: no-repeat;
  //         background-position: top;
  //         background-size: cover;
  //       }
  //     // }
  //   }
  // }

  .grid-item img {
      display: inline-block;
      height: 8em;
      margin: auto;
      margin-bottom: 1em;
      float:left;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

    .user-info h3 {

    }

    .grid-item .user-info, .grid-item .alderman-info {
      text-align:left;
      float:left;
      padding: 0 0 0 .5em;
      clear: right;
      margin-bottom: 1em;
    }

    .grid-item h5 {
      margin-top: .5em;
      margin-bottom: 0;
    }

  .grid-item p {
      margin: auto;
      text-align:left;
      color: $dark-grey;
      padding-top: 2em;

      // @include media($medium-screen) {
      //   max-width: 70%;
      // }
    }

  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
      // @include omega;
      // background: #89b7f3;
      padding-left: 1em;
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }


    .grid-item-big-tall {
    @include media($large-screen) {
      @include omega;
      height: 56em;
      border-right: 1px solid #dddddd;
      padding-right: 1em;

    }
    p {
      clear:both;
      // @include media($medium-screen) {
      //   max-width: 60%;
      // }
    }
  }




  .grid-item-image {
    background: url(/images/lake-transparent.png);
    background-color: $grid-item-background;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}


.alderman-wrapper {
  padding-top: 0;
  float: left;
  h3.alderman-info {
    text-align:left;
    padding-left: 0 !important;
    margin-bottom:0 !important;
    // clear: right;
  }
  img {
    clear:left;
    padding-right: 5px;
    margin-bottom: 3em !important;
  }

  li:last-child {
    font-family: $header-fontface-thick;
  }
}

// .alderman-top {
//   // border-bottom: 4.5px solid #89b7f3 !important;
//   border-left: 0 !important;
//   border-right: 0 !important;
// }
// .alderman-bottom {
//   border-top: 4.5px solid #89b7f3;
//   border-left: 0 !important;
//   border-right: 0 !important;
// }

